<nav class="fixed top-0 left-0 w-full z-50 bg-white/80 backdrop-blur-md shadow-sm">
  <div class="max-w-7xl mx-auto px-8 py-5 flex items-center justify-between">

    <!-- Marca -->
    <div class="text-2xl font-serif tracking-wide text-gray-800">
      <li class="list-none"> 
        <a href="#Inicio"> 
      Renew  
      <span  class="font-light text-pink-600">Beauty Inc</span>
      </a>
      </li>
    </div>

    <!-- Menú -->
    <ul class="hidden md:flex items-center gap-10 text-sm uppercase tracking-widest text-gray-600">
      <li>
        <a href="#Botox" class="hover:text-pink-600 transition duration-300">
          Botox
        </a>
      </li>
      <li>
        <a href="#Ácido" class="hover:text-pink-600 transition duration-300">
          Ácido Hialurónico
        </a>
      </li>
      <li>
        <a href="#Hilos " class="hover:text-pink-600 transition duration-300">
          Hilos Rusos
        </a>
      </li>
      <li>
        <a href="#Nosotros" class="hover:text-pink-600 transition duration-300">
          Nosotros
        </a>
      </li>
      <li>
        <a href="#Contactanos" class="hover:text-pink-600 transition duration-300">
          Contactanos
        </a>
      </li>
    </ul>

  </div>
</nav>
